@charset "UTF-8";
/*****************************************************************************/
/*
/* Tufte Jekyll blog theme
/* Based on Tufte CSS by Dave Liepmann ( https://github.com/edwardtufte/tufte-css )
/*
/* The README.md will show you how to set up your site along with other goodies
/*****************************************************************************/
@font-face {
  font-family: ETBembo;
  src: url("../fonts/et-bembo/et-bembo-roman-line-figures/et-bembo-roman-line-figures.eot");
  src: url("../fonts/et-bembo/et-bembo-roman-line-figures/et-bembo-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-bembo/et-bembo-roman-line-figures/et-bembo-roman-line-figures.woff") format("woff"), url("../fonts/et-bembo/et-bembo-roman-line-figures/et-bembo-roman-line-figures.ttf") format("truetype"), url("../fonts/et-bembo/et-bembo-roman-line-figures/et-bembo-roman-line-figures.svg#etbemboromanosf") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: ETBembo;
  src: url("../fonts/et-bembo/et-bembo-display-italic-old-style-figures/et-bembo-display-italic-old-style-figures.eot");
  src: url("../fonts/et-bembo/et-bembo-display-italic-old-style-figures/et-bembo-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-bembo/et-bembo-display-italic-old-style-figures/et-bembo-display-italic-old-style-figures.woff") format("woff"), url("../fonts/et-bembo/et-bembo-display-italic-old-style-figures/et-bembo-display-italic-old-style-figures.ttf") format("truetype"), url("../fonts/et-bembo/et-bembo-display-italic-old-style-figures/et-bembo-display-italic-old-style-figures.svg#etbemboromanosf") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: ETBembo;
  src: url("../fonts/et-bembo/et-bembo-bold-line-figures/et-bembo-bold-line-figures.eot");
  src: url("../fonts/et-bembo/et-bembo-bold-line-figures/et-bembo-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-bembo/et-bembo-bold-line-figures/et-bembo-bold-line-figures.woff") format("woff"), url("../fonts/et-bembo/et-bembo-bold-line-figures/et-bembo-bold-line-figures.ttf") format("truetype"), url("../fonts/et-bembo/et-bembo-bold-line-figures/et-bembo-bold-line-figures.svg#etbemboromanosf") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: ETBemboRomanOldStyle;
  src: url("../fonts/et-bembo/et-bembo-roman-old-style-figures/et-bembo-roman-old-style-figures.eot");
  src: url("../fonts/et-bembo/et-bembo-roman-old-style-figures/et-bembo-roman-old-style-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-bembo/et-bembo-roman-old-style-figures/et-bembo-roman-old-style-figures.woff") format("woff"), url("../fonts/et-bembo/et-bembo-roman-old-style-figures/et-bembo-roman-old-style-figures.ttf") format("truetype"), url("../fonts/et-bembo/et-bembo-roman-old-style-figures/et-bembo-roman-old-style-figures.svg#etbemboromanosf") format("svg");
  font-weight: normal;
  font-style: normal; }
/* This file contains all the constants for colors and font styles */
/**
 * Syntax highlighting styles
 */
.highlight {
  margin-bottom: 15px; }

.highlight {
  background: #fff; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

* {
  margin: 0;
  padding: 0; }

/* clearfix hack after Cederholm (group class name) */
.group:after {
  content: "";
  display: table;
  clear: both; }

html, body {
  height: 100%; }

html {
  text-align: baseline;
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@media screen and (min-width: 800px) {
  html {
    font-size: 12px; } }
@media screen and (min-width: 900px) {
  html {
    font-size: 13px; } }
@media screen and (min-width: 1000px) {
  html {
    font-size: 14px; } }
@media screen and (min-width: 1100px) {
  html {
    font-size: 15px; } }
@media screen and (min-width: 1200px) {
  html {
    font-size: 16px; } }
@media screen and (min-width: 1300px) {
  html {
    font-size: 17px; } }
.mathblock {
  font-size: 1.3rem; }

a {
  color: #a00000;
  text-decoration: none; }

p > a {
  color: #a00000;
  text-decoration: none; }

body {
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12.5%;
  font-family: et-bembo, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  background-color: #fffff8;
  color: #111;
  max-width: 1400px;
  counter-reset: sidenote-counter; }

h1 {
  font-weight: 400;
  margin-top: 1.568rem;
  margin-bottom: 1.568rem;
  font-size: 2.5rem;
  line-height: 0.784; }

h2 {
  font-style: italic;
  font-weight: 400;
  margin-top: 1.866666666666667rem;
  margin-bottom: 0;
  font-size: 2.1rem;
  line-height: 0.933333333333333; }

h3 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.8rem;
  margin-top: 2.1777777777777778rem;
  margin-bottom: 0;
  line-height: 1.08888888888889; }

p .subtitle {
  font-style: italic;
  margin-top: 2.1777777777777778rem;
  margin-bottom: 2.1777777777777778rem;
  font-size: 1.8rem;
  display: block;
  line-height: 1.08888888888889; }

p, ol, ul {
  font-size: 1.4rem; }

p, li {
  line-height: 2rem;
  margin-top: 1.4rem;
  padding-right: 2rem;
  vertical-align: baseline; }

blockquote p {
  font-size: 1.1rem;
  line-height: 1.78181818;
  margin-top: 1.78181818rem;
  margin-bottom: 1.78181818rem;
  width: 45%;
  padding-left: 2.5%;
  padding-right: 2.5%; }

blockquote footer {
  width: 45%;
  text-align: right; }

.sans {
  font-family: "Gill Sans", "Gill Sans MT", "Lato", Calibri, sans-serif;
  letter-spacing: .03em; }

pre, pre code, p code, p pre code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.2rem;
  line-height: 1.71428571;
  margin-top: 1.71428571rem; }

h1 code, h2 code, h3 code {
  font-size: 0.80em; }

/*-- Table styling section - For Tufte-Jekyll, booktabs style is default for Markdown tables  --*/
table, table.booktabs {
  width: auto;
  margin: 0 auto;
  border-spacing: 0px;
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333; }

.booktabs th, th {
  border-bottom: 1px solid #333333;
  padding: 0.65ex 0.5em 0.4ex 0.5em;
  font-weight: normal;
  text-align: center; }

th, td {
  font-size: 1.2rem;
  line-height: 1.71428571; }

.booktabs th.cmid, th {
  border-bottom: 1px solid #737373; }

.booktabs th.nocmid {
  border-bottom: none; }

.booktabs tbody tr:first-child td, tr:first-child td {
  padding-top: 0.65ex; }

/* add space between thead row and tbody */
.booktabs td, td {
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: left; }

.booktabs caption, caption {
  font-size: 90%;
  text-align: left;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1ex;
  caption-side: top; }

.booktabs tbody tr td.l {
  text-align: left !important; }

.booktabs tbody tr td.c {
  text-align: center !important; }

.booktabs tbody tr td.r {
  text-align: right !important; }

.table-caption {
  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.0rem;
  line-height: 1.96; }

/* -- End of Table Styling section --*/
/* Basic Layout stuff --*/
article {
  position: relative;
  padding: 1 rem 0rem 2.5rem 0rem; }

section {
  padding-top: 1rem;
  padding-bottom: 1rem; }

ul {
  width: 45%;
  -webkit-padding-start: 5%;
  -webkit-padding-end: 5%;
  list-style-type: none; }

figure, figure img.maincolumn {
  max-width: 55%;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin-bottom: 3em; }

figcaption {
  float: right;
  clear: right;
  margin-right: -48%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.0rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;
  max-width: 40%; }

figure.fullwidth figcaption {
  float: left;
  margin-right: 0%;
  margin-left: 36%; }

img {
  max-width: 100%; }

.sidenote, .marginnote {
  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: 0;
  margin-bottom: 1.96rem;
  font-size: 1.0rem;
  line-height: 1.96;
  vertical-align: baseline;
  position: relative; }

li .sidenote, li .marginnote {
  margin-right: -80%; }

blockquote .sidenote, blockquote .marginnote {
  margin-right: -79%; }

.sidenote-number {
  counter-increment: sidenote-counter; }

.sidenote-number:after, .sidenote:before {
  content: counter(sidenote-counter) " ";
  font-family: et-bembo-roman-old-style;
  color: #a00000;
  position: relative;
  vertical-align: baseline; }

.sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: 1rem;
  top: -0.5rem;
  left: 0.1rem; }

.sidenote:before {
  content: counter(sidenote-counter) ". ";
  color: #a00000;
  top: 0rem; }

p, footer, div.table-wrapper, div.mathblock {
  width: 55%; }

div.table-wrapper {
  overflow-x: auto; }

@media screen and (max-width: 760px) {
  p, footer, div.mathblock {
    width: 90%; }

  pre code {
    width: 87.5%; }

  ul {
    width: 85%; }

  figure {
    max-width: 90%; }

  figcaption, figure.fullwidth figcaption {
    margin-right: 0%;
    max-width: none; }

  blockquote p, blockquote footer {
    width: 80%;
    padding-left: 5%;
    padding-right: 5%; } }
.marginnote code, .sidenote code {
  font-size: 1rem; }

pre, pre code, p pre code {
  width: 52.5%;
  padding-left: 2.5%;
  overflow-x: auto; }

.fullwidth, li.listing div {
  max-width: 90%; }

.full-width .sidenote, .full-width .sidenote-number, .full-width .marginnote {
  display: none; }

span.newthought {
  font-variant: small-caps;
  font-size: 1.2em;
  letter-spacing: 0.05rem; }

input.margin-toggle {
  display: none; }

label.sidenote-number {
  display: inline; }

label.margin-toggle:not(.sidenote-number) {
  display: none; }

@media (max-width: 760px) {
  label.margin-toggle:not(.sidenote-number) {
    display: inline;
    color: #a00000; }

  .sidenote, .marginnote {
    display: none; }

  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative; }

  label {
    cursor: pointer; }

  pre, pre code, p code, p pre code {
    width: 90%;
    padding: 0; }

  .table-caption {
    display: block;
    float: right;
    clear: both;
    width: 98%;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 1%;
    margin-right: 1%;
    vertical-align: baseline;
    position: relative; }

  div.table-wrapper, table, table.booktabs {
    width: 85%; }

  div.table-wrapper {
    border-right: 1px solid #efefef; }

  img {
    max-width: 100%; } }
/*--- End of Basic Layout stuff from tufte.css ---*/
/* -- Jekyll specific styling --*/
.contrast {
  color: #a00000; }

.smaller {
  font-size: 80%; }

header > nav.group, body footer {
  width: 95%;
  padding-top: 2rem; }

nav.group a.active:before {
  content: "\0003c\000a0"; }

nav.group a.active:after {
  content: " >"; }

header > nav a {
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", "Lato", Calibri, sans-serif;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #a00000;
  padding-top: 1.5rem;
  text-decoration: none;
  display: inline-block;
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 2rem;
  vertical-align: baseline; }

header > nav a img {
  height: 5rem;
  position: relative;
  max-width: 100%;
  top: -1.5rem; }

ul.footer-links, .credits {
  list-style: none;
  text-align: center;
  margin: 0 auto; }

ul.footer-links li {
  display: inline;
  padding: 0.5rem 0.25rem; }

.credits {
  padding: 1rem 0rem; }

.credits {
  font-family: "Gill Sans", "Gill Sans MT", "Lato", Calibri, sans-serif; }
  .credits a {
    color: #a00000; }

body.full-width, .content-listing, ul.content-listing li.listing {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0% 5%; }

.full-width article p {
  width: 90%; }

h1.content-listing-header {
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.8rem; }

li.listing hr {
  width: 100%; }

.listing, .listing h3 {
  display: inline-block;
  margin: 0; }

li.listing {
  margin: 0; }
  li.listing p {
    width: 100%; }

li.listing:last-of-type {
  border-bottom: none;
  margin-bottom: 1.4rem; }

li.listing h3.new {
  text-transform: uppercase;
  font-style: normal; }

hr.slender {
  border: 0;
  height: 1px;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent); }

@media screen {
  .print-footer {
    display: none; } }
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  @page {
    margin: 0.75in 0.5in 0.75in 0.5in;
    orphans: 4;
    widows: 2; }
  body {
    font-size: 12pt; }

  html body span.print-footer {
    font-family: "Gill Sans", "Gill Sans MT", "Lato", Calibri, sans-serif;
    font-size: 9pt;
    margin-top: 22.4pt;
    padding-top: 4pt;
    border-top: 1px solid #000; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 4;
    widows: 4; }

  article h2, article h2 h3, article h3, article h3 h4, article h4, article h4 h5 {
    page-break-after: avoid; }

  body header, body footer {
    display: none; } }
/* --- Icomoon icon fonts CSS --*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?rgwlb8");
  src: url("../fonts/icomoon.eot?#iefixrgwlb8") format("embedded-opentype"), url("../fonts/icomoon.woff?rgwlb8") format("woff"), url("../fonts/icomoon.ttf?rgwlb8") format("truetype"), url("../fonts/icomoon.svg?rgwlb8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #a00000;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-pencil:before {
  content: "\e600"; }

.icon-film:before {
  content: "\e60f"; }

.icon-calendar:before {
  content: "\e601"; }

.icon-link:before {
  content: "\e602"; }

.icon-info:before {
  content: "\e603"; }

.icon-cancel-circle:before {
  content: "\e604"; }

.icon-checkmark-circle:before {
  content: "\e605"; }

.icon-spam:before {
  content: "\e606"; }

.icon-mail:before {
  content: "\e607"; }

.icon-googleplus:before {
  content: "\e608"; }

.icon-facebook:before {
  content: "\e609"; }

.icon-twitter:before {
  content: "\e60a"; }

.icon-feed:before {
  content: "\e60b"; }

.icon-flickr:before {
  content: "\e60c"; }

.icon-github:before {
  content: "\e60d"; }

.icon-box-add:before {
  content: "\e60e"; }

/*-- End of Icomoon icon font section --*/
