@charset "UTF-8";
/*****************************************************************************/
/*
/* Tufte Jekyll blog theme
/* Based on Tufte CSS by Dave Liepmann ( https://github.com/edwardtufte/tufte-css )
/*
/* The README.md will show you how to set up your site along with other goodies
/*****************************************************************************/
/* This file contains all the constants for colors and font styles */
/* clearfix hack after Cederholm (group class name) */
.group:after {
  content: "";
  display: table;
  clear: both; }

.mathblock {
  font-size: 1.3rem; }

/*-- Table styling section - For Tufte-Jekyll, booktabs style is default for Markdown tables  --*/
table, table.booktabs {
  width: auto;
  margin: 0 auto;
  border-spacing: 0px;
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333; }

.booktabs th, th {
  border-bottom: 1px solid #333333;
  padding: 0.65ex 0.5em 0.4ex 0.5em;
  font-weight: normal;
  text-align: center; }

th, td {
  font-size: 1.2rem;
  line-height: 1.71428571; }

.booktabs th.cmid, th {
  border-bottom: 1px solid #737373; }

.booktabs th.nocmid {
  border-bottom: none; }

.booktabs tbody tr:first-child td, tr:first-child td {
  padding-top: 0.65ex; }

/* add space between thead row and tbody */
.booktabs td, td {
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: left; }

.booktabs caption, caption {
  font-size: 90%;
  text-align: left;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1ex;
  caption-side: top; }

.booktabs tbody tr td.l {
  text-align: left !important; }

.booktabs tbody tr td.c {
  text-align: center !important; }

.booktabs tbody tr td.r {
  text-align: right !important; }

.table-caption {
  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.0rem;
  line-height: 1.96; }

/* -- End of Table Styling section --*/
figure, figure img.maincolumn {
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin-bottom: 3em; }

figcaption {
  float: right;
  clear: right;
  margin-right: -48%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.0rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;
  max-width: 40%; }

figure.fullwidth figcaption {
  float: left;
  margin-right: 0%;
  margin-left: 36%; }

img {
  max-width: 100%; }

.sidenote, .marginnote {
  float: right;
  clear: right;
  margin-right: -45%;
  width: 35%;
  margin-top: 0;
  margin-bottom: 1.96rem;
  font-size: 1.0rem;
  line-height: 1.96;
  vertical-align: baseline;
  position: relative; }

li .sidenote, li .marginnote {
  margin-right: -80%; }

blockquote .sidenote, blockquote .marginnote {
  margin-right: -79%; }

.sidenote-number {
  counter-increment: sidenote-counter; }

.sidenote-number:after, .sidenote:before {
  content: counter(sidenote-counter) " ";
  font-family: et-bembo-roman-old-style;
  color: #a00000;
  position: relative;
  vertical-align: baseline; }

.sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: 1rem;
  top: -0.5rem;
  left: 0.1rem; }

.sidenote:before {
  content: counter(sidenote-counter) ". ";
  color: #a00000;
  top: 0rem; }

div.table-wrapper {
  overflow-x: auto; }

.marginnote code, .sidenote code {
  font-size: 1rem; }

pre, p pre code {
  width: 95%;
  padding-left: 2.5%;
  overflow-x: auto; }

.fullwidth, li.listing div {
  max-width: 90%; }

.full-width .sidenote, .full-width .sidenote-number, .full-width .marginnote {
  display: none; }

span.newthought {
  font-variant: small-caps;
  font-size: 1.2em;
  letter-spacing: 0.05rem; }

input.margin-toggle {
  display: none; }

label.sidenote-number {
  display: inline; }

label.margin-toggle:not(.sidenote-number) {
  display: none; }

@media (max-width: 760px) {
  label.margin-toggle:not(.sidenote-number) {
    display: inline;
    color: #a00000; }

  .sidenote, .marginnote {
    display: none; }

  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative; }

  label {
    cursor: pointer; }

  pre, pre code, p code, p pre code {
    width: 90%;
    padding: 0; }

  .table-caption {
    display: block;
    float: right;
    clear: both;
    width: 98%;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 1%;
    margin-right: 1%;
    vertical-align: baseline;
    position: relative; }

  div.table-wrapper, table, table.booktabs {
    width: 85%; }

  div.table-wrapper {
    border-right: 1px solid #efefef; }

  img {
    max-width: 100%; } }
/*--- End of Basic Layout stuff from tufte.css ---*/
/* -- Jekyll specific styling --*/
.contrast {
  color: #a00000; }

.smaller {
  font-size: 80%; }

header > nav.group, body footer {
  width: 95%;
  padding-top: 2rem; }

nav.group a.active:before {
  content: "\0003c\000a0"; }

nav.group a.active:after {
  content: " >"; }

header > nav a {
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", "Lato", Calibri, sans-serif;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #a00000;
  padding-top: 1.5rem;
  text-decoration: none;
  display: inline-block;
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 2rem;
  vertical-align: baseline; }

header > nav a img {
  height: 5rem;
  position: relative;
  max-width: 100%;
  top: -1.5rem; }

ul.footer-links, .credits {
  list-style: none;
  text-align: center;
  margin: 0 auto; }

ul.footer-links li {
  display: inline;
  padding: 0.5rem 0.25rem; }

.credits {
  padding: 1rem 0rem; }

.credits {
  font-family: "Gill Sans", "Gill Sans MT", "Lato", Calibri, sans-serif; }
  .credits a {
    color: #a00000; }

@media screen {
  .print-footer {
    display: none; } }
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  @page {
    margin: 0.75in 0.5in 0.75in 0.5in;
    orphans: 4;
    widows: 2; }
  body {
    font-size: 12pt; }

  html body span.print-footer {
    font-family: "Gill Sans", "Gill Sans MT", "Lato", Calibri, sans-serif;
    font-size: 9pt;
    margin-top: 22.4pt;
    padding-top: 4pt;
    border-top: 1px solid #000; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 4;
    widows: 4; }

  article h2, article h2 h3, article h3, article h3 h4, article h4, article h4 h5 {
    page-break-after: avoid; }

  body header, body footer {
    display: none; } }
